# Local cruft
*.ll
*.s
*.bc
*.ast
*.bin

*.log
*.pcap
*.pcapng

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.app

# Visual Studio junk
*.opendb
*.db
*.sdf
*.user
*.ilk
*.pdb

# folders
.vs
build
bin
