name: CI Matrix

on:
  push:
    branches: [ "master", "release" ]
  pull_request:
    branches: [ "master", "release" ]

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ${{ startsWith(matrix.arch, 'arm') && 'ubuntu-24.04-arm' || format('{0}-latest', matrix.os == 'linux' && 'ubuntu' || matrix.os) }}  # GitHub-hosted runners
    strategy:
      matrix:
        os: [windows, linux]
        compiler: [dmd, ldc]
        arch: [x86, x86_64, arm, arm64, riscv64]
        exclude:
          # No point cross-compiling on Windows; linux is so much faster!
          - os: windows
            arch: arm
          - os: windows
            arch: arm64
          - os: windows
            arch: riscv64
          # TODO: DMD ARM64 support is WIP; remove when it releases...
          - compiler: dmd
            arch: arm64
          - compiler: dmd
            arch: arm
          - arch: arm # TODO: not yet working...
          - arch: riscv64 # TODO: not yet working...
      fail-fast: false
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 1

      - name: Setup D Compiler
        uses: dlang-community/setup-dlang@v2
        with:
          compiler: ${{ matrix.compiler == 'dmd' && 'dmd-master' || matrix.compiler }}

      # 32-bit linux needs libs to link and run tests...
      - name: Install 32-bit Toolchains (Linux)
        if: ${{ matrix.os == 'linux' && matrix.arch == 'x86' }}
        run: sudo apt-get update && sudo apt-get install -y gcc-multilib
      - name: Install 32-bit ARM Toolchains (Linux)
        if: ${{ matrix.os == 'linux' && matrix.arch == 'arm' }}
        run: sudo dpkg --add-architecture armhf && sudo apt-get update && sudo apt-get install -y libstdc++6:armhf

      - name: Build release
        if: ${{ github.ref == 'refs/heads/release' }}
        run: make ARCH=${{ matrix.arch }} CONFIG=release OS=${{ matrix.os }} COMPILER=${{ matrix.compiler }}
      - name: Build unittest
        run: make ARCH=${{ matrix.arch }} CONFIG=unittest OS=${{ matrix.os }} COMPILER=${{ matrix.compiler }}

      - name: Test
        if: ${{ success() && (matrix.arch == 'x86_64' || matrix.arch == 'x86' || matrix.arch == 'arm64') }}
        run: ./bin/${{ matrix.arch }}_${{ matrix.os }}_unittest/openwatt_test

      - name: Upload release binary
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/release' && matrix.compiler == 'ldc' }}
        uses: actions/upload-artifact@v4
        with:
          name: openwatt_${{ matrix.os }}_${{ matrix.arch }}
          path: ./bin/${{ matrix.arch }}_${{ matrix.os }}_release/openwatt
